
body {
    margin: 8px;
    background-color: lightcyan;
    font-family: 'Avenir Next Light', Helvetica, Arial, sans-serif;

}


.container {
    display: flex;
    flex-direction: column;
    height:100%;
}

.top {
    background-color: lightpink;
    flex:2;
}

.middle {
    display: flex;
    flex-direction: row;
    background-color: lightsalmon;
    flex:10;
}

.bottom {
    background-color: lightgray;
    flex:1;
}

.leftNav {
    background-color: orange;
    flex:1;
}

.mainContent {
    background-color: beige;
    flex:8;
}


.formOne label {
    width:200px;
    display:inline-block;
    text-align: end;
}



