.servicePanelLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 525px;
    margin-top: 15px;
    margin-bottom: 12px;
}

.servicePanelLine input {
    padding: 1px;
    margin: 0;
}

.servicePanelLine label {
    margin: 0;
    padding: 0;
}

.servicePanelLine p {
    color: red;
    margin-left: 25px;
}

.emergencyLightingSection {
    margin-left: 5px;
    padding-left: 15px;
    font-size: 1.3em;
}

.emergencyLightingSection label {
    font-size: 1.0em;
}

.emergencyUnit {
    background: url(/images/emergency-unit.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 750px;
    height: 215px;
}

.emergencyCentral {
    background: url(/images/emergency-central.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 750px;
    height: 215px;
}

.emergencyLightingSection .important {
    font-weight: bold;
    color:red;
}

.emergencyDisclaimer {
    font-style: italic;
    font-size: 0.7em;
    margin:10px;
}
