/* Space out content a bit */

select:focus {
    outline: none;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px background-color : rgba(0, 0, 0, .5);
}

.container {
    width: 1280px;
}

.span3 {
    margin-left: 15px;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: tahoma, sans-serif;
}

textarea {
    resize: none;
}

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.header p {
    color: white;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    background-color: #2C95DD;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.noteArea {
    resize: none;
}

.tab-content {
    background-color: #A1DBFF;
    margin-right: 25px;
    padding-left: 10px;
    min-height: 600px;
}

.simpleArrowSelect {
    line-height: normal;
    margin: 0;
    padding: 1px;
    padding-top: 6px;
    margin-bottom: 2px;
    -webkit-appearance: none;
    border: none;
    background: url("/images/down-arrow.png");
    background-repeat: no-repeat;
    background-position: 99% 90%;
}

select#projectCountry {
    width:120px;
}

.login-modal {
    -webkit-border-radius: 5px;
    position: fixed;
    top: 15px;
    left: 40px;
    background: #8895A7;
    margin: 5px;
    padding: 5px;
    width: 94%;
    height: 90%;
    opacity: 0.8;
    z-index: 100;
    display: flex;
    flex-direction: row;
}

.login-modal #username {
    margin: 0;
    padding: 2px;
}

.login-modal #password {
    margin: 0;
    padding: 2px;
}

.fixtureLabel {
    width: 130px;
    text-align: right;
}

.fixtureFormLine {
    margin-bottom: 10px;
}

.fixtureFormLine input {
    padding: 1px;
    height: 1.3em;
    width: 100px;
    margin: 0;
    font-size: 0.95em;
}

.fixtureFormLine select {
    margin: 0;
    padding: 1px;
    height: 1.3em;
    width: 105px;
}

.fixtureFormLine label {
    display: inline-block;
}

#fixtureSectionOne {
    border-right: 2px;
    border-right-style: solid;
    border-right-color: gray;
    height: 200px;
}

#fixtureSectionTwo {
    border-right: 2px;
    border-right-style: solid;
    border-right-color: gray;
    height: 200px;
}

#fixtureSectionTwo select {
    height: 1.3em;
    width: 120px;
}

#fixtureSectionThree select {
    height: 1.3em;
    width: 120px;
}

.redwoodPanelNarrowInput {
    width: 25px;
}

.leftSideLabel {
    display: inline-block;
}

.rightSideLabel {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 1px;
}

.underlined {
    border-bottom-width: 2px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}


#controlPanel > div {
    margin-top: 20px;
}

#controlPanel input[type="checkbox"] {
    margin:0;
}

.servicePanelLine {
    width: 525px;
    margin-top: 15px;
}

.servicePanelLine input {
    padding: 1px;
    margin: 0;
}

.servicePanelLine p {
    color:red;
    margin-left: 25px;
}

.serviceInput {
    float: right;
    clear: both;
    width: 175px;
}

.optionalEquipLine {
    margin-top: 5px;
}

.optionalEquipLine input {
    margin: 0;
    padding: 1px;
    width: 50px;
}

#emergencyLightingSection {
    margin-left: 5px;
}
.dialogOuter {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 500px;
    top: 100px;
    background: #D8E5F1;
    -webkit-border-radius: 5px;
}

.dialogInner {
    margin: 14px;
    margin-bottom: 5px;
    padding: 5px;
    -webkit-border-radius: 5px;
    background: #ffffff;
    width: 90%;
    height: 80%;
    overflow-y: scroll;
}

#notesDialog textarea {
    width:96%;
    height:95%;
}

.accessoriesScroller input {
    margin: 0;
    display: inline-block;
}

.accessoriesScroller label {
    margin: 0;
    margin-top: 5px;
    display: inline-block;
}

.accessoriesText {
    padding: 0;
    margin: 0;
    width: 50px;
    height: 10px !important;
}

.accessoriesDialogButton {
    float: right;
    margin-right: 16px;
}

.fixturesSection {
    overflow: hidden;
    background-color: #A1DBFF;
}

.fixturesSection .buttonSpacer {
    height: 20px;
}

.fancyButton {
    background: #1B9AF7;
    -webkit-appearance: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: arial;
    font-size: 17px;
    text-decoration: none;
}

.fixtureLine {
    border-top-width: 2px;
    border-top-color: gray;
    border-top-style: solid;
    background-color: #ffffff;
}

.fixtureLineSelected {
    background-color: #D8EDF3;
}

.fixtureLine:hover {
    background-color: lightgrey;
}

.fixtureLineSection {
    border-right-width: 2px;
    border-right-color: gray;
    border-right-style: solid;
    height: 175px;
    padding-left: 5px;
}

.lastFixtureSection {
    border-right-style: none;
}

.fixtureListHeader {
    text-align: center;
    color: white;
    background-color: #1B9AF7;
    font-size: 17px;
    line-height: 30px;
}

.loginspacer {
    height: 100px;
}

.lineSeparator {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.loginCenteredContent {
    position: relative;
    top: 30%;
    width: 545px;
    margin-left: auto;
    margin-right: auto;
}

.loginFormLine {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.loginCenteredContent input[type="text"], .loginCenteredContent label , .loginCenteredContent input[type="password"] {
    display: inline-block;
    width:250px;
}

.loginCenteredContent label {
    width: 100px;
    text-align: end;
}

.loginCenteredContent input[type="submit"] {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}

.redwoodTitleLogin {
    height: 130px;
    width: 545px;
    background: url("/images/redwood-logo_2c.svg") no-repeat 100%;
    background-size: 100%;
    margin-bottom: 30px;
    margin-left: -170px;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    margin: 0;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 0.8em;
}

.invalidCredentials {
    margin-top: 10px;
    color: red;
}

.rwsActive a {
    background-color: #A1DBFF !important;
}

.rwsTabs {
    margin-right: 0 !important;
    border-right: none !important;
}

.nav-tabs > li > a {
    padding:4px;
}

.blur {
   -webkit-filter:blur(5px);
}

.fixtureList {
    list-style: none;
    -webkit-appearance:none;
    margin-left: 0;

}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
}

.tabLabel {
    display: inline-block;
    max-width: 150px;
}

.tabLabel p {
    margin:0;
}

.tabLabel i {
    color: gray;
    font-size: 0.85em;
    margin-top:1px;
    margin-bottom: 1px;
}

#enginesOne {
    margin-bottom: 15px;
}

#enginesOne p {
    padding:0;
    margin:0;
}

#enginesOne input[type="text"] {
    width: 75px;
}

#enginesOne select {
    width: 90px;
}

#enginesTwo select {
    width: 90px;
}

.engineOneLabel {
    width:200px;
    display: inline-block;
}

#engineSpacerTwo {
    height:35px;
}

span#enginesSpacer {
    display: inline-block;
    width:30px;
}

div#enginesOneWarning {
    background: url(/images/light-bulb.svg);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    height:70px;
    width:35px;
    display:inline-block;
}

div#enginesOneWarningText {
    display:inline-block;
}


.bulbIcon {
    float:left;
    width:35px;
    height:35px;
    background: url(/images/light-bulb.svg);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    margin-left: -5px;
}

div#optionalEquipmentPanel textarea {
    width:50%;
    height:200px;
}


.projectInfoForm input.ng-invalid.ng-pristine, .projectInfoForm select.ng-invalid.ng-pristine {
    outline:none;
}
.projectInfoForm.ng-submitted input.ng-invalid,
.projectInfoForm.ng-submitted select.ng-invalid,
.projectInfoForm.ng-submitted textarea.ng-invalid {
    outline: 2px dotted red;
}
