.spareLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.spareLine .firstItem {
    flex: 5;
}

.spareLine .currentQty {
    flex: 1.5;
}

.spareLine .spareQty {
    flex: 1.5;
}

.spareLine .total {
    flex: 1.5;
}

.sparesPanel ul {
    list-style: none;
}

.sparesPanel ::-webkit-scrollbar:vertical {
    width: 4px;
}

.sparesPanel ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid gray; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.sparesPanel ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}

.sparesPanel input[type="number"] {
    margin: 0;
    padding: 2px;
    width: 40px !important;
}

.spareLine.title {
    font-size: 1.4em;
    margin-left: 8px;
    width: 68%;
    color: #669AD0;
}

.spareLine .engineTitle {
    flex: 10;
}

.sparesPanel .line {
    width: 70%;
    color: #669AD0;
    background-color: #669AD0;
    border: 0;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 8px;
}

.sparesPanel .sparesList {
    max-width: 68%;
    max-height: 106px;
    overflow-x: hidden;
    overflow-y: auto;
}
