<div ng-hide="tabs.accessoriesDialogHide" id="accessoriesDialog">
    <p><i>Choose the type and number of accessories for this feature.</i></p>
    <div class="accessoriesDialogInner">
        <div class="accessoriesScroller">
            <input id="accessoriesOne" type="checkbox"/>
            <label for="accessoriesOne">Universal gateway Wiring Harness</label>
            <input class="accessoriesText" id="accessoriesOneQty" type="text"/>
        </div>

        <div class="accessoriesScroller">
            <input id="accessoriesTwo" type="checkbox"/>
            <label for="accessoriesTwo">Universal gateway Wiring Harness</label>
            <input class="accessoriesText" id="accessoriesTwoQty" type="text"/>
        </div>

        <div class="accessoriesScroller">
            <input id="accessoriesThree" type="checkbox"/>
            <label for="accessoriesThree">Universal gateway Wiring Harness</label>
            <input class="accessoriesText" id="accessoriesThreeQty" type="text"/>
        </div>

        <div class="accessoriesScroller">
            <input id="accessoriesFour" type="checkbox"/>
            <label for="accessoriesFour">Universal gateway Wiring Harness</label>
            <input class="accessoriesText" id="accessoriesFourQty" type="text"/>
        </div>

        <div class="accessoriesScroller">
            <input id="accessoriesFive" type="checkbox"/>
            <label for="accessoriesFive">Universal gateway Wiring Harness</label>
            <input class="accessoriesText" id="accessoriesFiveQty" type="text"/>
        </div>

        <div class="accessoriesScroller">
            <input id="accessoriesFive" type="checkbox"/>
            <label for="accessoriesFive">Universal gateway Wiring Harness</label>
            <input class="accessoriesText" id="accessoriesFiveQty" type="text"/>
        </div>
        <div class="accessoriesScroller">
            <input id="accessoriesFive" type="checkbox"/>
            <label for="accessoriesFive">Universal gateway Wiring Harness</label>
            <input class="accessoriesText" id="accessoriesFiveQty" type="text"/>
        </div>
        <div class="accessoriesScroller">
            <input id="accessoriesFive" type="checkbox"/>
            <label for="accessoriesFive">Universal gateway Wiring Harness</label>
            <input class="accessoriesText" id="accessoriesFiveQty" type="text"/>
        </div>
        <div class="accessoriesScroller">
            <input id="accessoriesFive" type="checkbox"/>
            <label for="accessoriesFive">Universal gateway Wiring Harness</label>
            <input class="accessoriesText" id="accessoriesFiveQty" type="text"/>
        </div>
        <div class="accessoriesScroller">
            <input id="accessoriesFive" type="checkbox"/>
            <label for="accessoriesFive">Universal gateway Wiring Harness</label>
            <input class="accessoriesText" id="accessoriesFiveQty" type="text"/>
        </div>
        <div class="accessoriesScroller">
            <input id="accessoriesFive" type="checkbox"/>
            <label for="accessoriesFive">Universal gateway Wiring Harness</label>
            <input class="accessoriesText" id="accessoriesFiveQty" type="text"/>
        </div>
        <div class="accessoriesScroller">
            <input id="accessoriesFive" type="checkbox"/>
            <label for="accessoriesFive">Universal gateway Wiring Harness</label>
            <input class="accessoriesText" id="accessoriesFiveQty" type="text"/>
        </div>
        <div class="accessoriesScroller">
            <input id="accessoriesFive" type="checkbox"/>
            <label for="accessoriesFive">Universal gateway Wiring Harness</label>
            <input class="accessoriesText" id="accessoriesFiveQty" type="text"/>
        </div>
        <div class="accessoriesScroller">
            <input id="accessoriesFive" type="checkbox"/>
            <label for="accessoriesFive">Universal gateway Wiring Harness</label>
            <input class="accessoriesText" id="accessoriesFiveQty" type="text"/>
        </div>
        <div class="accessoriesScroller">
            <input id="accessoriesFive" type="checkbox"/>
            <label for="accessoriesFive">Universal gateway Wiring Harness</label>
            <input class="accessoriesText" id="accessoriesFiveQty" type="text"/>
        </div>
        <div class="accessoriesScroller">
            <input id="accessoriesFive" type="checkbox"/>
            <label for="accessoriesFive">Universal gateway Wiring Harness</label>
            <input class="accessoriesText" id="accessoriesFiveQty" type="text"/>
        </div>
        <div class="accessoriesScroller">
            <input id="accessoriesFive" type="checkbox"/>
            <label for="accessoriesFive">Universal gateway Wiring Harness</label>
            <input class="accessoriesText" id="accessoriesFiveQty" type="text"/>
        </div>
    </div>
    <input class="accessoriesDialogButton" type="button" value="save" ng-click="tabs.toggleAccessoriesDialog()"/>
    <input class="accessoriesDialogButton" type="button" value="cancel" ng-click="tabs.toggleAccessoriesDialog()"/>
</div>