<div class="uploadDirs">

    <div class="uploadDirRow">
        <div class="uploadDir">
            <a href="/#/files?dir=drawings" >drawings</a>
        </div>

        <div class="uploadDir">
            <a href="/#/files?dir=specs" >specifications</a>
        </div>

        <div class="uploadDir">
            <a href="/#/files?dir=software" >software</a>
        </div>
    </div>

    <div class="uploadDirRow">
        <div class="uploadDir">
            <a href="/#/files?dir=installation" >installation</a>
        </div>

        <div class="uploadDir">
            <a href="/#/files?dir=fixtures" >fixtures</a>
        </div>

        <div class="uploadDir">
            <a href="/#/files?dir=general">general</a>
        </div>
    </div>


</div>
