<div class="launcher" ng-class="{blur:isLoggedIn==false}">
    <div class="launcherRow">
        <div class="launcherItem launchBomOuter" ng-show="authenticatedUser.role=='admin'">
            <a href="/#/home">
                <div id="launchBOM" class="launchIcon"></div>
                <div class="launchText"><b>Launch BOM Tool</b></div>
            </a>
        </div>

        <div class="launcherItem launchFilesOuter">
            <a href="/#/dirs">
                <div id="launchFiles" class="launchIcon"></div>
                <div class="launchText"><b>Launch File Upload/Download Tool</b></div>
            </a>
        </div>

    </div>
</div>


</div>
