<div class="dialogOuter" ng-hide="tabs.accessoriesDialogHide" id="accessoriesDialog">
    <p><i>Choose the type and number of accessories for this feature.</i></p>
    <div class="dialogInner">

        <div class="accessoriesItem" ng-repeat="ac in accessories">
            <label ng-class="{disabled:disableAccessoryChoice(ac.description)}">{{ac.description}}</label>
            <input ng-disabled="disableAccessoryChoice(ac.description)"
                   ng-class="{disabled:disableAccessoryChoice(ac.description)}"
                   ng-model="accessoryTally[ac.part_number]"
                   class="accessoriesText" id="{{$index}}" type="number" min="0" placeholder="0"/>
        </div>

    </div>
    <input class="accessoriesDialogButton" type="button" value="save" ng-click="tabs.toggleAccessoriesDialog()"/>
    <input class="accessoriesDialogButton" type="button" value="cancel" ng-click="tabs.toggleAccessoriesDialog()"/>
</div>
