<div class="emergencyLightingSection" ng-controller="emergencyController">

    <p class="underlined">Emergency Lighting Solutions <span class="important">(Check for local code compliance)</span></p>

    <div class="servicePanelLine">
        <div ng-class="{bigRadioFilled:selectedEmergencyRadio == '1'}" class="bigRadio" ng-click="selectEmergencyRadio('1')"></div>
        <label>Unit Equipment - Non Redwood AC lights</label>
    </div>
    <div class="emergencyUnit"></div>

    <div class="servicePanelLine">
        <div ng-class="{bigRadioFilled:selectedEmergencyRadio == '2'}" class="bigRadio" ng-click="selectEmergencyRadio('2')"></div>
        <label>Central Auxiliary Power System - Redwood powered fixtures + Director required</label>
    </div>
    <div class="emergencyCentral"></div>
    <p class="emergencyDisclaimer">{{disclaimer}}</p>

</div>
