<div id="servicePanel">
    <p>Select the services you want to include</p>

    <div class="servicePanelLine">
        <input type="checkbox" id="flatFeeOneTime"/><label class="rightSideLabel" for="flatFeeOneTime">Flat fee project work. One time cost</label>
        <input id="flatFeeInput" class="serviceInput" type="text" value="PROFSVCS-CUSTOM"/>
    </div>

    <div class="servicePanelLine">
        <input type="checkbox" id="factoryStartup"/><label class="rightSideLabel" for="factoryStartup">Factory startup & commissioning (base)</label>
        <input id="factoryStartupInput" class="serviceInput" type="text" value="RSC-1G-FSUC-51"/>
    </div>

    <div class="servicePanelLine">
        <input type="checkbox" id="annualSupport"/><label class="rightSideLabel" for="annualSupport">Annual Support (Qty = Total Engines & Director)</label>
        <input id="annualSupportInput" class="serviceInput" type="text" value="SUPPORT-ANNUAL-1"/>
    </div>

    <div class="servicePanelLine">
        <input type="checkbox" id="reportsBilledMonthly"/><label class="rightSideLabel" for="reportsBilledMonthly">Reports billed monthly or 1 time basis.</label>
        <input id="reportsBilledInput" class="serviceInput" type="text" value="PROFSVCS-REPORTING"/>
    </div>

</div>
