<div class="sparesPanel">
    <form name="sparesForm" class="sparesForm" ng-controller="sparesController">

        <!-- SENSOR 3 -->
        <div class="spareLine title">
            <div class="firstItem">Sensor 3</div>
            <div class="currentQty">Current Control Qty.</div>
            <div class="spareQty">Spares</div>
            <div class="total">Total</div>
        </div>
        <hr class="line"/>
        <ul class="sparesList">
            <li ng-repeat="fixture in sensorThreeFixtures">
                <div class="spareLine">
                    <div class="firstItem">{{fixture.partInfo.part_number}}</div>
                    <div class="currentQty">{{fixture.controlQuantity}}</div>
                    <div class="spareQty">
                        <input placeholder="0" min="0" name="spareThree{{$index}}"
                               ng-model="fixture.spareControlQuantity"
                               type="number"/>
                    </div>
                    <div class="total">{{parseInt(fixture.controlQuantity) + fixture.spareControlQuantity}}</div>
                </div>
            </li>
        </ul>


        <!-- GATEWAY -->
        <div class="spareLine title">
            <div class="firstItem">LED Gateway</div>
            <div class="currentQty"></div>
            <div class="spareQty"></div>
            <div class="total"></div>
        </div>
        <hr class="line"/>
        <ul class="sparesList">
            <li ng-repeat="fixture in ledGatewayFixtures">
                <div class="spareLine">
                    <div class="firstItem">{{fixture.partInfo.part_number}}</div>
                    <div class="currentQty">{{fixture.controlQuantity}}</div>
                    <div class="spareQty">
                        <input placeholder="0" name="spareLed{{$index}}"
                               ng-model="fixture.spareControlQuantity"
                               type="number" min="0"/></div>
                    <div class="total">{{parseInt(fixture.controlQuantity) + fixture.spareControlQuantity}}</div>
                </div>
            </li>
        </ul>


        <!-- ENGINES -->
        <div class="spareLine title">
            <div class="firstItem engineTitle">Engines, Directors, Adaptors, and Emergency Controls</div>
            <div class="currentQty"></div>
            <div class="spareQty"></div>
            <div class="total"></div>
        </div>
        <hr class="line"/>
        <ul class="sparesList">

            <li ng-repeat="pair in engineVoltagePairs">
                <div class="spareLine">
                    <div class="firstItem">{{pair[0]}}</div>
                    <div class="currentQty">{{pair[1]}}</div>
                    <div class="spareQty"><input placeholder="0" name="spareEngine{{pair[0]}}" type="number" min="0" ng-model="sparesModel[pair[0]]"/></div>
                    <div class="total">{{pair[1] + sparesModel[pair[0]]}}</div>
                </div>
            </li>

            <li>
                <div class="spareLine">
                    <div class="firstItem">Director</div>
                    <div class="currentQty">{{dataService.engineModel.directorCount}}</div>
                    <div class="spareQty"><input required name="spareDirector" placeholder="0" name="directorSpares" type="number" min="0"
                                                 ng-model="sparesModel.directorSpares"/></div>
                    <div class="total">{{dataService.engineModel.directorCount + sparesModel.directorSpares}}</div>
                </div>
            </li>

            <li>
                <div class="spareLine">
                    <div class="firstItem">Cable sharing adaptor</div>
                    <div class="currentQty">{{roundedTotalChannels}}</div>
                    <div class="spareQty"><input required name="spareCableShare" placeholder="0" type="number" min="0"
                                                 ng-model="sparesModel.spareSharingCables"/></div>
                    <div class="total">{{sparesModel.cableSharingAdaptors}}</div>
                </div>
            </li>

            <li>
                <div class="spareLine">
                    <div class="firstItem">Emergency light controls</div>
                    <div class="currentQty">
                        <input name="emergencyControlOverride" placeholder="0" type="number" min="0"
                               ng-model="emergencyKitNumber"/>
                    </div>
                    <div class="spareQty"><input required placeholder="0" name="emergencyControlSpares" type="number" min="0"
                                                 ng-model="sparesModel.emergencySpareControls"/></div>
                    <div class="total">{{emergencyKitNumber + sparesModel.emergencySpareControls}}</div>
                </div>
            </li>

        </ul>


        <!-- DIMMERS and Scene Controllers -->
        <div class="spareLine title">
            <div class="firstItem">Dimmers</div>
            <div class="currentQty"></div>
            <div class="spareQty"></div>
            <div class="total"></div>
        </div>
        <hr class="line"/>

        <!-- we need to combine the accessories from all fixtures together -->
        <ul class="sparesList">
            <li>
                <div class="spareLine">
                    <div class="firstItem">Redwood Scene Controllers</div>
                    <div class="currentQty">{{dataService.controlModel.sceneControllers}}</div>
                    <div class="spareQty"><input placeholder="0" required name="sceneControllers" ng-model="sparesModel.sceneControllers" type="number"
                                                 min="0"/></div>
                    <div class="total">{{sparesModel.sceneControllers + dataService.controlModel.sceneControllers}}</div>
                </div>
            </li>

            <li>
                <div class="spareLine">
                    <div class="firstItem">Redwood Dimmers</div>
                    <div class="currentQty">{{dataService.controlModel.dimmers}}</div>
                    <div class="spareQty"><input placeholder="0" required name="dimmers" ng-model="sparesModel.dimmers" type="number" min="0"/></div>
                    <div class="total">{{sparesModel.dimmers + dataService.controlModel.dimmers}}</div>
                </div>
            </li>
        </ul>


        <!-- ACCESSORIES -->
        <div class="spareLine title">
            <div class="firstItem">Accessories</div>
            <div class="currentQty"></div>
            <div class="spareQty"></div>
            <div class="total"></div>
        </div>
        <hr class="line"/>

        <!-- we need to combine the accessories from all fixtures together -->
        <ul class="sparesList">
            <li ng-repeat="acc in masterAccessoryList">
                <div class="spareLine">
                    <div class="firstItem">{{acc[1].desc}}</div>
                    <div class="currentQty">{{acc[1].count}}</div>
                    <div class="spareQty"><input placeholder="0" required name="spareAccessory{{acc[0]}}"
                                                 ng-model="sparesModel.accessorySpareTally[acc[1].desc]" type="number" min="0"/></div>
                    <div class="total">{{acc[1].count + sparesModel.accessorySpareTally[acc[1].desc]}}</div>
                </div>
            </li>
        </ul>
    </form>

</div>
