<div class="summaryProjectWorksheet">

  <div class="project-file-header">
    <div class="col1">Fixture Type</div>
    <div class="col2">Fixture Quantity</div>
    <div class="col3">Control Method and Quantity</div>
    <div class="col4">Fixture Details, Accessories, and Notes</div>
  </div>


  <div class="worksheetRowWithAccessories" ng-repeat="fix in dataService.fixtureLines">
    <div class="worksheetRow">
      <div class="col1 column">
        <div class="value">{{fix.fixtureId}}</div>
        <div class="value">{{fix.fixtureType.name}}</div>
        <div class="value">{{fix.mountType.name}}</div>
        <div class="value">{{fix.fixtureSize.name}}</div>
      </div>

      <div class="col2 column">
        <div class="value">{{fix.distribution.name}}</div>
        <div class="value">{{fix.lumens.lumens}} Lumens</div>

        <div class="labelValue">
          <div class="summaryLabel">Channels</div>
          <div class="value">{{fix.channels.channel_count}}</div>
        </div>
        <div class="labelValue">
          <div class="summaryLabel">Std Qty</div>
          <div class="value">{{fix.standardQuantity}}</div>
        </div>
        <div class="labelValue">
          <div class="summaryLabel">Emer Qty</div>
          <div class="value">{{fix.emergencyQuantity}}</div>
        </div>
      </div>

      <div class="col3 column">
        <div class="value">{{fix.controlMethod.name}}</div>
        <div class="value">{{fix.partInfo.part_number}}</div>
        <div class="labelValue">
          <div class="summaryLabel">Ctrl Qty</div>
          <div class="value">{{fix.controlQuantity}}</div>
        </div>
      </div>

      <div class="col4 column">
        <div class="value">{{fix.partInfo.model}}</div>
        <div class="value">{{fix.partInfo.description}}</div>

        <div class="labelValue">
          <div class="summaryLabel">Gateway:</div>
          <div class="value">NA</div>
        </div>
        <div class="labelValue">
          <div class="summaryLabel">Sensor</div>
          <div class="value">{{fix.sensorType.name}}</div>
        </div>

        <div class="summaryProjectAccessories">
          <div class="accessoryLabel">Accessories:</div>
          <div class="accessoryList">
            <p ng-repeat="acc in fix.selectedAccessories" ng-if="acc.accessoryCount > 0">{{acc.accessory.description}} : {{acc.accessoryCount}}</p>
          </div>
        </div>

        <div class="summaryProjectNotes">
          <div class="notesLabel">Notes:</div>
          <div class="summaryNotes">{{fix.notes}}</div>
        </div>
      </div>

    </div>
  </div>

</div>

