<!--  FIXTURE GATEWAYS -->
<div class="bomHeader">Fixture Gateways, Sensors and Accessories</div>
<div class="bomSectionHeader">
  <div class="qty">Qty</div>
  <div class="item">Desc</div>
  <div class="partNum">Part #</div>
  <div class="bomNotes">&nbsp;</div>
</div>
<div class="bomRow" ng-repeat="fixture in sensorThreeFixtures">
  <div class="qty">{{parseInt(fixture.controlQuantity) + fixture.spareControlQuantity}}</div>
  <div class="item">Sensor 3</div>
  <div class="partNum">{{fixture.partInfo.part_number}}</div>
  <div class="bomNotes">&nbsp;</div>
</div>

<div class="bomRow" ng-repeat="fixture in ledGatewayFixtures">
  <div class="qty">{{parseInt(fixture.controlQuantity) + fixture.spareControlQuantity}}</div>
  <div class="item">LED Gateway</div>
  <div class="partNum">{{fixture.partInfo.part_number}}</div>
  <div class="bomNotes">&nbsp;</div>
</div>

<div class="bomRow" ng-repeat="acc in masterAccessoryList">
  <div class="qty">{{acc[1].count}}</div>
  <div class="item">{{acc[1].desc}}</div>
  <div class="partNum">{{acc[0]}}</div>
  <div class="bomNotes">&nbsp;</div>
</div>


<!--  CONTROLS AND ENGINES -->
<div class="bomHeader">Controls and Engines</div>
<div class="bomSectionHeader">
  <div class="qty">Qty</div>
  <div class="item">Desc</div>
  <div class="partNum">Part #</div>
  <div class="bomNotes">&nbsp;</div>
</div>

<div ng-hide="dataService.controlModel.sceneControllers + dataService.sparesModel.sceneControllers <= 0" class="bomRow">
  <div class="qty">{{dataService.controlModel.sceneControllers + dataService.sparesModel.sceneControllers}}</div>
  <div class="item">RW Scene Controller, White. 7 Button</div>
  <div class="partNum">DIM-2-4SW</div>
  <div class="bomNotes">{{dataService.controlModel.notes}}</div>
</div>

<div ng-hide="dataService.controlModel.dimmers + dataService.sparesModel.dimmers <= 0" class="bomRow">
  <div class="qty">{{dataService.controlModel.dimmers + dataService.sparesModel.dimmers}}</div>
  <div class="item">RW Dimmer, White</div>
  <div class="partNum">RD-1G-W</div>
  <div class="bomNotes">&nbsp;</div>
</div>

<div ng-hide="dataService.controlModel.dimmerPlates <= 0" class="bomRow">
  <div class="qty">{{dataService.controlModel.dimmerPlates}}</div>
  <div class="item">Dimmer Adaptor Plates</div>
  <div class="partNum">RD-1G-WALLMOUNT</div>
  <div class="bomNotes">&nbsp;</div>
</div>

<div ng-hide="cableSharingAdaptorCount <= 0" class="bomRow">
  <div class="qty">{{cableSharingAdaptorCount}}</div>
  <div class="item">Cable Sharing Splitter - SP12A (2 per horizontal run)</div>
  <div class="partNum">760191841</div>
  <div class="bomNotes">&nbsp;</div>
</div>

<!-- 250V ENGINES -->
<div ng-hide="dataService.engineTotals['200v-250v'] <= 0" class="bomRow">
  <div class="qty">{{dataService.engineTotals['200v-250v']}}</div>
  <div class="item">200v-250v Engines</div>
  <div class="partNum">ENG-3-4834-250</div>
  <div class="bomNotes">&nbsp;</div>
</div>

<!-- 277V ENGINES (which include cords) -->
<div ng-hide="dataService.engineTotals['277v'] <=0 " class="bomRow">
  <div class="qty">{{dataService.engineTotals['277v']}}</div>
  <div class="item">277v Engines</div>
  <div class="partNum">ENG-3-4834-277</div>
  <div class="bomNotes">&nbsp;</div>
</div>

<!-- 250V ENGINE CORDS -->
<div class="bomRow" ng-repeat="cord in dataService.cordTotalPairs" ng-if="cord[1] > 0">
  <div class="qty">{{cord[1]}}</div>
  <div class="item">Power Cord: {{cord[0]}}</div>
  <div class="partNum">{{cordPartNums[cord[0]]}}</div>
  <div class="bomNotes">&nbsp;</div>
</div>

<!-- DIRECTOR -->
<div class="bomRow" ng-hide="dataService.engineModel.directorCount <= 0">
  <div class="qty">{{dataService.engineModel.directorCount}}</div>
  <div class="item">Director</div>
  <div class="partNum">DIR-1G</div>
  <div class="bomNotes">&nbsp;</div>
</div>

<!-- DIRECTOR POWER CORD -->
<div class="bomRow" ng-hide="dataService.engineModel.directorCount <= 0 || dataService.engineModel.directorCord == undefined">
  <div class="qty">{{dataService.engineModel.directorCount}}</div>
  <div class="item">{{dataService.engineModel.directorCord.name}}</div>
  <div class="partNum">{{dataService.engineModel.directorCord.part}}</div>
  <div class="bomNotes">&nbsp;</div>
</div>


<!--  EMERGENCY -->
<div class="bomHeader">Emergency Lighting Controls</div>
<div class="bomSectionHeader">
  <div class="qty">Qty</div>
  <div class="item">Desc</div>
  <div class="partNum">Part #</div>
  <div class="bomNotes">&nbsp;</div>
</div>

<div ng-hide="emergencyRelayCount <= 0" class="bomRow">
  <div class="qty">{{emergencyRelayCount}}</div>
  <div class="item">Outage Gateway & Relay - 10A SPDT, 120-277VAC</div>
  <div class="partNum">RG-2G-OUTAGE-KT</div>
  <div class="bomNotes">&nbsp;</div>
</div>

<div ng-hide="emergencyGatewayCount <= 0" class="bomRow">
  <div class="qty">{{emergencyGatewayCount}}</div>
  <div class="item">Emergency Lighting Gateway</div>
  <div class="partNum">RG-2G-ELCC-KT</div>
  <div class="bomNotes">&nbsp;</div>
</div>

