<div class="summaryPanel" ng-controller="summaryController">
    <div class="summaryMenu" ng-show="activeSummarySection == 'menu'">
        <ng-include src="'templates/summaryMenu.html'"/>
    </div>

    <div class="summaryFixture" ng-show="activeSummarySection == 'fixture'">
        <ng-include src="'templates/summaryFixture.html'"/>
    </div>

    <div class="summaryBOM" ng-show="activeSummarySection == 'bom'">
        <ng-include src="'templates/summaryBOM.html'"/>
    </div>

    <div class="summaryProject" ng-show="activeSummarySection == 'project'">
        <ng-include src="'templates/summaryProject.html'"/>
    </div>
</div>
