<div id="fixtureSectionTwo">
    <div class="circleNumber">2</div>

    <div class="fixtureFormLine">
        <label class="fixtureLabel" for="lightDistribution">Light Distribution</label>
        <select name="distribution" ng-change="changeDistribution()" ng-options="distribution.name for distribution in fixtureForm.dropDownChoices.distributions track by distribution.id" ng-model="fixtureForm.distribution" required class="simpleArrowSelect" id="lightDistribution">
            <option value="">select distribution</option>
        </select>
    </div>

    <div class="fixtureFormLine">
        <label class="fixtureLabel" for="fixtureLumens">Lumens</label>
        <select name="lumens" ng-change="changeLumens()" ng-options="lumen.lumens for lumen in fixtureForm.dropDownChoices.lumens track by lumen.id" ng-model="fixtureForm.lumens" required class="simpleArrowSelect" id="fixtureLumens">
            <option value="">select lumens</option>
        </select>
    </div>

    <div class="fixtureFormLine">
        <label class="fixtureLabel" for="numChannels"># Channels</label>
        <select name="channels" ng-change="changeChannels()" ng-options="channel.channel_count for channel in fixtureForm.dropDownChoices.channels track by channel.id" ng-model="fixtureForm.channels" required class="simpleArrowSelect" id="numChannels">
            <option value="">select channels</option>
        </select>
    </div>


    <div class="fixtureFormLine">
        <label class="fixtureLabel" for="standardQuantity">Standard quantity</label>
        <input name="standardQuantity" ng-model="fixtureForm.standardQuantity" required id="standardQuantity" type="text" placeholder="0"/>
    </div>

    <div class="fixtureFormLine">
        <label class="fixtureLabel" for="emergencyQuantity">Emergency quantity</label>
        <input name="emergencyQuantity" ng-model="fixtureForm.emergencyQuantity" id="emergencyQuantity" type="text" value="0"/>
    </div>

</div>
