<a href="" ng-click="selectSummary('menu')"><- Back to summary</a>
<div class="fixtureOuterHeader">
    <div class="fixtureHeaderContainer">
        <div class="fixtureHeaderIcon" ng-click="print()"></div>
        <div class="fixtureHeader">Bill of Materials</div>
    </div>
    <hr class="whiteline"/>
    <div class="fixtureSubHeader">Project Information</div>
</div>
<div>
    <ng-include src="'tabSections/summaryProjectInfo.html'"/>
</div>


<ng-include src="'tabSections/summaryBOMDetail.html'"></ng-include>

